<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J&M Clothes</title>

    <!-- Fuente bajada de google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/stylesheets/full-width-pics.css" rel="stylesheet">
</head>

<body>

    <div>
        <!-- Navbar -->
        <%- include('partials/headerNavbar') %>
    </div>

    <h1 style="margin-top: 2%">Lista de productos: </h1>
    <div>
        <ul>
            <% for(let i = 0; i < products.length; i++){%>
            <li>
                <%= products[i].id %>
                <%= products[i].name %>
                <%= products[i].description %>
                <%= products[i].category %>
                <%= products[i].colors %>
                <%= products[i].price %>
                <%= products[i].image %>
            </li>
            <% } %>
        </ul>
    </div>

    <!-- Footer <%- include('partials/footer') %> -->
    
</body>

</html>