<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J&M Clothes</title>

    <!-- Fuente bajada de google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/stylesheets/full-width-pics.css" rel="stylesheet">
</head>

<body>

    <div>
        <!-- Navbar -->
        <%- include('partials/headerNavbar') %>
    </div>

    <h1 style="margin-top: 3%">Editar productos </h1>
    <div style="padding : 2%; margin-bottom:5%">
        <form action="/products/edit/<%=product.id%>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre del producto</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name"
                    value="<%= product.name %>">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Descripción del producto</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="description"
                    value="<%= product.description %>">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Categoría del producto</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="category"
                    value="<%= product.category %>">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Color del producto</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="colors"
                    value="<%= product.colors %>">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Precio del producto</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="price"
                    value="<%= product.price %>">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Imagen del producto</label>
                <input type="file" class="form-control" id="exampleInputPassword1" name="image" value="<%= product.image %>">
            </div>

            <button type="submit" class="btn btn-dark btn-primary">Actualizar</button>
        </form>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>