<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>J&M Clothes</title>

    <!-- Fuente bajada de google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/stylesheets/full-width-pics.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <%- include('partials/headerNavbar') %>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Mi perfil</h5>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <img style=" width:300px;height:300px;border-radius:150px;display:block;margin:auto;" src="/images/avatar/<%= user.image %>">
                                </div>

                                <div style="text-align: center; margin-top: 10px;" class="form-label-group">
                                    <h2><%=user.lastName%>, <%= user.firstName %></h2>
                                    <h4><%= user.email %></h4>
                                </div>

                                <div style="text-align: center; padding: 0; margin-top: 30px;" class="custom-control custom-checkbox mb-3">
                                    <a href="edit/<%=user.id%>">
                                        <button type="button" class="btn btn-dark">
                                            <p>Editar perfil</p>
                                        </button>
                                    </a>
                                </div>
                                <div style="text-align: center; padding: 0;">
                                    <a href="/users/logout">
                                        <button type="button" class="btn btn-dark">Cerrar sesión</button>
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>